.gradle/
.idea/
**/build/
**/node_modules/
**/dist/
**/lib/
**/*.tsbuildinfo
.firebase/
firebase-debug.log
*.iml
local.properties
**/google-services.json
*.jks
*.keystore
.env
.env.*
!.env.example

# Local Netlify folder
.netlify
